/** { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }*/

.sand-banner {
  height: 100px;
  width: 100%;
  background-color: yellow;
  margin-bottom: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}
.chat-window {
  display: flex;
  border: 1px solid gray;
  width: 60%;
  height: 400px;
  margin: 0 auto;
}

.sand-chat {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 10px;
}
input {
  width: 70%;
}
button {

}

.sand-footer {
  height: 100px;
  width: 100%;
  background-color: yellow;
  margin-top: 50px;
}
